.space-sml-bottom {
  margin-bottom: 10px; }

.space-med-bottom {
  margin-bottom: 15px; }

.space-lg-bottom {
  margin-bottom: 20px; }

.space-xlg-bottom {
  margin-bottom: 40px; }

.large-graph {
  width: 100%;
  float: left; }
